
/* generic */
*
{
    margin: 0;
    padding: 0;
}


/* header footer */
header,
footer
{
    width: 100vw;
}
header
{
    position: fixed;
    border-bottom: 2px solid;
    top: 0;
}
footer
{
    border-top: 2px solid;
}


/* border page */
.border-page
{
    width: 20vw;
    height: 100vh;
    position: fixed;
    z-index: -100;
    top: 0;
}
#border-page-right
{
    right: 0;
}
#center-page
{
    margin: 0 20vw;
    overflow: hidden;

    height: 2000px;
}


/* header menu */
header,
footer
{
    padding: 5px 20px;
}
header menu ul
{
    list-style-type: none;
    padding: 0;
    margin: 0;
}
header menu ul li
{
    display: inline-block;
    padding: 1.2ch 1.8ch;
    border-radius: 0.7ch;
}
header menu ul li:hover
{
    animation-name: header-menu-li-hover;
    animation-duration: 1s;
    outline-style: solid;
    outline-width: 2px;
}