
body, 
h1, h2, h3, h4, h5, h6
{
    margin: 0;
    text-align: center;
}


.border-page
{
    width: 20vw;
    height: 100vh;
}


ul
{
    list-style-type: none;
    padding: 0;
    margin: 0;
    text-align: left;
}


p
{
    margin: 0;
}


button, 
input[type="button"],
input[type="text"], 
input:not([type]),
textarea,
input[type="submit"],
select,
input[type="color"]
{
    border: 1px solid;
    border-radius: 0.7ch;
    padding: 1.2ch 1.8ch;
}

button, 
input[type="button"],
input[type="submit"]
{
    text-align: center;
}


input[type="checkbox"],
input[type="radio"],
.checkbox-mark
{
    width: 2.5ch;
    height: 2.5ch;
    transform: translateY(0.65ch);
}
input[type="checkbox"],
input[type="radio"]
{
    position: absolute;
    opacity: 0;
}
.checkbox-mark
{
    display: inline-block;
    border-radius: 0.5ch;
    border: 1px solid;
}

select
{
    appearance: none;
}

input[type="color"]
{
    padding: 3px;
}
input[type="color"]::-moz-color-swatch
{
    border: none;
    border-radius: 5px;
}


/*
input[type="checkbox"],
input[type="radio"]
{
    width: 2ch;
    height: 2ch;
}
*/


