
*
{
    color: #000;
}


header,
footer
{
    background-color: #f6e3ff;
}

#center-page
{
    background-color: #fff;
}

.border-page{
    background-color: #dfdfdf;
}


button, 
input[type="button"],
input[type="submit"],
select,
input[type="color"],
input[type^="date"],
input[type="time"],
input[type="reset"],
input[type="file"]::file-selector-button
{
    background-color: rgb(220, 220, 220);
}

input[type="text"],
input:not([type]),
textarea,
input[type="search"],
.checkbox-mark,
input[type="week"],
input[type="month"],
input[type="email"],
input[type="password"],
input[type="tel"],
input[type="url"],
input[type="number"],
input[type="range"],
input[type="file"]
{
    outline: 2px solid rgb(220, 220, 220);
}

button:hover, 
input[type="button"]:hover,
input[type="submit"]:hover,
.checkbox-mark:hover,
select:hover,
input[type="color"]:hover,
input[type^="date"]:hover,
input[type="time"]:hover,
input[type="reset"]:hover,
input[type="file"]::file-selector-button:hover
{
    background-color: rgb(200, 200, 200);
}

button:active, 
input[type="button"]:active,
input[type="submit"]:active,
.checkbox-mark:active,
.checkbox-mark[checked],
select:active,
input[type="color"]:active,
input[type^="date"]:active,
input[type="time"]:active,
input[type="reset"]:active,
input[type="range"]::-webkit-slider-thumb, /* button slider range */
input[type="range"]::-moz-range-thumb,
input[type="file"]::file-selector-button:active
{
    background-color: rgb(180, 180, 180);
}

button:hover, 
input[type="button"]:hover,
input[type="submit"]:hover,
input[type="text"]:hover, 
input:not([type]):hover,
textarea:hover,
.checkbox-mark:hover,
select:hover,
input[type="color"]:hover,
input[type^="date"]:hover,
input[type="time"]:hover,
input[type="email"]:hover,
input[type="password"]:hover,
input[type="reset"]:hover,
input[type="week"]:hover,
input[type="month"]:hover,
input[type="search"]:hover,
input[type="tel"]:hover,
input[type="url"]:hover,
input[type="number"]:hover,
input[type="range"]:hover,
input[type="file"]::file-selector-button:hover,
input[type="file"][drag-count] /* when file is drag */
{
    outline: 3px solid rgb(200, 200, 200);
}

input[type="text"]:active, 
input[type="text"]:focus, 
input:not([type]):active,
input:not([type]):focus,
textarea:active,
textarea:focus,
input[type="button"]:focus,
input[type="submit"]:focus,
.checkbox-mark:active,
input[type^="date"]:active,
input[type^="date"]:focus,
input[type="time"]:active,
input[type="time"]:focus,
input[type="email"]:active,
input[type="email"]:focus,
input[type="password"]:active,
input[type="password"]:focus,
input[type="reset"]:focus,
input[type="week"]:active,
input[type="week"]:focus,
input[type="month"]:active,
input[type="month"]:focus,
input[type="search"]:active,
input[type="search"]:focus,
input[type="tel"]:active,
input[type="tel"]:focus,
input[type="url"]:active,
input[type="url"]:focus,
input[type="number"]:active,
input[type="number"]:focus,
input[type="range"]:active,
input[type="range"]:focus,
input[type="file"]::file-selector-button:active,
input[type="file"]::file-selector-button:focus
{
    outline: 3px solid rgb(180, 180, 180);
}
button:focus
{
    box-shadow: /* fake outline for button */
        rgb(180, 180, 180) -3px -3px 0px 0px,
        rgb(180, 180, 180)  3px -3px 0px 0px,
        rgb(180, 180, 180) -3px  3px 0px 0px,
        rgb(180, 180, 180)  3px  3px 0px 0px;
}

/*  --- always print ---
input[type="text"]:valid, 
input:not([type]):valid,
textarea:valid,
input[type="checkbox"]:valid + .checkbox-mark,
input[type="color"]:valid,
input[type^="date"]:valid,
input[type="time"]:valid,
input[type="email"]:valid,
input[type="password"]:valid,
input[type="week"]:valid,
input[type="month"]:valid,
input[type="search"]:valid,
input[type="tel"]:valid,
input[type="url"]:valid,
input[type="number"]:valid,
input[type="range"]:valid,
input[type="file"]:valid
{
    outline: 3px solid rgb(179, 255, 169);
}
*/
input[type="text"]:invalid, 
input:not([type]):invalid,
textarea:invalid,
input[type="checkbox"]:invalid + .checkbox-mark,
input[type="checkbox"]:invalid + .checkbox-mark,
input[type="color"]:invalid,
input[type^="date"]:invalid,
input[type="time"]:invalid,
input[type="email"]:invalid,
input[type="password"]:invalid,
input[type="week"]:invalid,
input[type="month"]:invalid,
input[type="search"]:invalid,
input[type="tel"]:invalid,
input[type="url"]:invalid,
input[type="number"]:invalid,
input[type="range"]:invalid,
input[type="file"]:invalid
{
    outline: 3px solid rgb(255, 162, 162);
}


input[type="range"]::-webkit-slider-thumb,
input[type="range"]::-moz-range-thumb /* button slider range */
{
    background-color: rgb(180, 180, 180);
}