
*
{
    color: #000;
}


header,
footer
{
    background-color: #f6e3ff;
}

#center-page
{
    background-color: #fff;
}

.border-page{
    background-color: #dfdfdf;
    /*#ece5ea*/
}


button, 
input[type="button"],
input[type="submit"],
select,
input[type="color"],
input[type^="date"],
input[type="time"],
input[type="reset"]
{
    background-color: rgb(220, 220, 220);
}
button:hover, 
input[type="button"]:hover,
input[type="submit"]:hover,
.checkbox-mark:hover,
select:hover,
input[type="color"]:hover,
input[type^="date"]:hover,
input[type="time"]:hover,
input[type="reset"]:hover
{
    background-color: rgb(200, 200, 200);
}
button:active, 
input[type="button"]:active,
input[type="submit"]:active,
.checkbox-mark:active,
.checkbox-mark[checked],
select:active,
input[type="color"]:active,
input[type^="date"]:active,
input[type="time"]:active,
input[type="reset"]:active
{
    background-color: rgb(180, 180, 180);
}

button:hover, 
input[type="button"]:hover,
input[type="submit"]:hover,
input[type="text"]:hover, 
input:not([type]):hover,
textarea:hover,
.checkbox-mark:hover,
select:hover,
input[type="color"]:hover,
input[type^="date"]:hover,
input[type="time"]:hover,
input[type="email"]:hover,
input[type="password"]:hover,
input[type="reset"]:hover,
input[type="week"]:hover,
input[type="month"]:hover
{
    outline: 3px solid rgb(200, 200, 200);
}
input[type="text"]:active, 
input:not([type]):active,
textarea:active,
input[type="button"]:focus,
input[type="submit"]:focus,
input[type="text"]:focus, 
input:not([type]):focus,
textarea:focus,
.checkbox-mark:active,
input[type^="date"]:active,
input[type^="date"]:focus,
input[type="time"]:active,
input[type="time"]:focus,
input[type="email"]:active,
input[type="password"]:active,
input[type="email"]:focus,
input[type="password"]:focus,
input[type="reset"]:focus,
input[type="week"]:active,
input[type="month"]:active,
input[type="week"]:focus,
input[type="month"]:focus
{
    outline: 3px solid rgb(180, 180, 180);
}
button:focus
{
    box-shadow: /* fake outline for button */
        rgb(180, 180, 180) -3px -3px 0px 0px,
        rgb(180, 180, 180)  3px -3px 0px 0px,
        rgb(180, 180, 180) -3px  3px 0px 0px,
        rgb(180, 180, 180)  3px  3px 0px 0px;
}

/*  --- always print ---
input[type="text"]:valid, 
input:not([type]):valid,
textarea:valid,
input[type="checkbox"]:valid + .checkbox-mark,
input[type="color"]:valid,
input[type^="date"]:valid,
input[type="time"]:valid,
input[type="email"]:valid,
input[type="password"]:valid,
input[type="week"]:valid,
input[type="month"]:valid
{
    outline: 3px solid rgb(179, 255, 169);
}
*/
input[type="text"]:invalid, 
input:not([type]):invalid,
textarea:invalid,
input[type="checkbox"]:invalid + .checkbox-mark,
input[type="checkbox"]:invalid + .checkbox-mark,
input[type="color"]:invalid,
input[type^="date"]:invalid,
input[type="time"]:invalid,
input[type="email"]:invalid,
input[type="password"]:invalid,
input[type="week"]:invalid,
input[type="month"]:invalid
{
    outline: 3px solid rgb(255, 162, 162);
}