

body,
header .btn-header,
section .btn-create
{
    color: #FFF;
}

body
{
    background-color: #18121a;
}


header,
footer,
.block-character,
.character-specie-selection,
.character-selection-illu-container
{
    border-color: rgb(78, 48, 83);
}


.btn-header,
section .btn-create
{
    background-color: rgb(50, 38, 54);
    background: linear-gradient(
        0deg,
        rgb(51, 30, 59) 0%,
        rgb(0, 0, 0) 50%,
        rgb(51, 30, 59) 100%
    );
    outline-color: rgb(78, 48, 83);
}
.btn-header:hover,
section .btn-create:hover
{
    background: linear-gradient(
        0deg,
        rgb(81, 49, 95) 0%,
        rgb(68, 41, 77) 50%,
        rgb(109, 74, 120) 100%
    );
    outline-color: rgb(211, 154, 216);
}

input[type=text],
select 
{
    color: white;
    background-color: rgb(19, 7, 23);
    outline-color: rgb(78, 48, 83);
}
input[type=text]:hover,
select:hover,
.character-specie-selection:has( input[type=radio]:checked)
{
    outline-color: rgb(211, 154, 216);
}

.character-specie-selection:hover 
{
    border-color: rgb(211, 154, 216);
}


.border-page
{
    background: linear-gradient(
        -90deg,
        rgb(0, 0, 0) 0%,
        rgb(50, 38, 54) 20%,
        #18121a 100%
    );
}


.pop-up-error-back-gradient {
    background: linear-gradient( 0deg, 
        rgb(68, 15, 15) 0%, 
        rgb(0, 0, 0) 50%, 
        rgb(68, 15, 15) 100% 
    );
}


.progress-bar {
    background-color: rgb(13, 4, 17);
}
.progress-bar > div {
    background: linear-gradient(
        0deg,
        rgb(81, 49, 95) 0%,
        rgb(68, 41, 77) 50%,
        rgb(109, 74, 120) 100%
    );
}