
body.fight-page {
    background-color: white;
    overflow: hidden;
}

body.fight-page header,
div.menu
{
    width: 500px;
}

body.fight-page header {
    padding: 16px;
    text-align: center;
}


div.menu {
    position: absolute;
    height: 100%;
    right: -500px;
}
div.menu.menu-unfold {
    animation-name: menu-unfold;
    animation-duration: 0.8s;
    animation-direction: normal;
    right: 0px;
}
div.menu.menu-fold {
    animation-name: menu-unfold;
    animation-duration: 0.6s;
    animation-direction: reverse;
}
@keyframes menu-unfold {
    0% {
        right: -500px;
    }
    100% {
        right: 0px;
    }
}
div.menu input#btn-unfold-menu {
    position: absolute;
    left: -100px;
}

header input:nth-child(n+2) {
    margin-right: 8px;
}
header input:last-child {
    margin-right: 0;
}

div.menu p.hidden-p-error {
    visibility: hidden;
    width: 0;
    height: 0;
}

div.menu form {
    padding: 5px;
}

.show-opacity {
    animation-name: show-opacity;
    animation-duration: 0.3s;
    animation-direction: normal;
    opacity: 0;
}
.hidde-opacity {
    animation-name: show-opacity;
    animation-duration: 0.3s;
    animation-direction: reverse;
    opacity: 1;
}
@keyframes show-opacity {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}