@import "bootstrap/dist/css/bootstrap.min.css";

/* generic */
*
{
    margin: 0;
    padding: 0;
}


/* header footer */
header,
footer
{
    width: 100vw;
    backdrop-filter: saturate(2) blur(5px);
}
header
{
    position: fixed;
    border-bottom: 2px solid;
    top: 0;
}
footer
{
    border-top: 2px solid;
}


/* border page */
.border-page
{
    width: 20vw;
    height: 100vh;
    position: fixed;
    z-index: -100;
    top: 0;
}
#border-page-right
{
    right: 0;
}
#center-page
{
    margin: 0 20vw;
    overflow: hidden;
}


/* header menu */
header,
footer
{
    padding: 16px 40px;
}
header menu{
    margin-top: 5px;
}
header menu ul
{
    list-style-type: none;
    padding: 0;
    margin: 0;
}
header menu ul li:nth-child(n+2) {
    margin-left: 8px;
}

.btn-header/*[data-href]:hover*/,
.btn-create
{
    outline-style: solid;
    outline-width: 2px;
    border: none;
}


section#center-page {
    padding: 20px;
}


.btn.btn-twitch {
    color: #FFF;
    background-color: #9147ff;
}
.btn.btn-twitch:hover{
    background-color: #772ce8;
    outline-style: solid;
    outline-width: 2px;
    outline-color: rgb(109, 99, 110);
}
.btn.btn-twitch:active{
    background-color: #5c16c5;
}


.p-align-btn {
    margin: 0;
    padding: 0px 12px;
    padding-top: 7px;
}

.margin-right {
    margin-right: 12px;
}


.pop-up-error {
    position: absolute;
    z-index: 100;
    right: 0;
    background-color: rgba(226, 41, 41, 0.295);
    color: red;
    padding: 20px;
    border-radius: 5px;
    border: solid 2px red;
    margin: 10px;
}
.pop-up-error p {
    margin: 0;
}

.btn-x {
    background-color: rgba(0, 0, 0, 0);
    border: none;
    color: red;
    position: absolute;
    right: 6px;
    top: 0px;
}
*.btn-x:hover {
    color: rgb(255, 255, 255);
}


.block-character {
    border-radius: 8px;
    border: 1px solid;
    padding: 8px 20px;
}
.block-character:nth-child(n+2) {
    margin-top: 8px;
}
