@import "bootstrap/dist/css/bootstrap.min.css";

/* generic */
*
{
    margin: 0;
    padding: 0;
    user-select: none;
}
p {
    margin: 0;
}


/* header footer */
header,
footer
{
    width: 100vw;
    backdrop-filter: saturate(2) blur(5px);
}
header
{
    position: fixed;
    border-bottom: 2px solid;
    top: 0;
}
footer
{
    border-top: 2px solid;
}


/* border page */
.border-page
{
    width: 20vw;
    height: 100vh;
    position: fixed;
    z-index: -100;
    top: 0;
}
#border-page-right
{
    right: 0;
    transform: scaleX(-1);
}
#center-page
{
    margin: 0 20vw;
    overflow: hidden;
    background-image: url("../img/MotifBack.png");
    background-size: 300px 300px;
}
.border-page .border-image
{
    height: 100%;
    background-image: url("../img/BorderMotif2.png");
    background-size: 64px;
    background-repeat: repeat-y;
}


/* header menu */
header,
footer
{
    padding: 16px 40px;
}
header menu{
    margin-top: 5px;
}
header menu ul
{
    list-style-type: none;
    padding: 0;
    margin: 0;
}
header menu ul li:nth-child(n+2) {
    margin-left: 8px;
}

.btn-header/*[data-href]:hover*/,
.btn-create,
.btn-supr
{
    outline-style: solid;
    outline-width: 2px;
    border: none;
}

.hidde {
    width: 0;
    height: 0;
    opacity: 0;
}


section#center-page {
    padding: 20px;
}


.btn.btn-twitch {
    color: #FFF;
    background-color: #9147ff;
}
.btn.btn-twitch:hover{
    background-color: #772ce8;
    outline-style: solid;
    outline-width: 2px;
    outline-color: rgb(109, 99, 110);
}
.btn.btn-twitch:active{
    background-color: #5c16c5;
}


.p-align-btn {
    padding: 0px 12px;
    padding-top: 7px;
}

.margin-right {
    margin-right: 12px;
}


.pop-up-error {
    position: absolute;
    z-index: 100;
    right: 0;
    background-color: rgba(226, 41, 41, 0.295);
    color: red;
    padding: 20px;
    border-radius: 5px;
    border: solid 2px red;
    margin: 10px;
}
.btn-x {
    background-color: rgba(0, 0, 0, 0);
    border: none;
    color: red;
    position: absolute;
    right: 6px;
    top: 0px;
}
*.btn-x:hover {
    color: white;
}
.btn-supr {
    color: red;
    outline-color: rgb(160, 48, 48);
    background: linear-gradient(
        0deg,
        rgb(105, 36, 36) 0%,
        rgb(59, 8, 8) 50%,
        rgb(105, 36, 36) 100%
    );
}
.btn-supr:hover {
    color: white;
    background: linear-gradient(
        0deg,
        rgb(212, 45, 45) 0%,
        rgb(124, 2, 2) 50%,
        rgb(212, 45, 45) 100%
    );
    outline-color: rgb(240, 97, 97);
}


.block-character {
    border-radius: 8px;
    border: 1px solid;
    padding: 8px 20px;
}
.block-character:nth-child(n+2) {
    margin-top: 8px;
}
.block-character:has(.character-selection-illu-container) {
    padding-right: 8px;
}


.title-index {
    margin-bottom: 65px;
}
.title-page {
    margin-bottom: 32px;
}


.input-line {
    margin-top: 16px;
}
.input-line > * {
    width: 45%;
}
.input-line > *:first-child {
    margin-right: 2%;
}
.input-line.submit-line {
    margin-top: 32px;
}

.input-error-container > *:first-child {
    width: 100%;
}
.input-error {
    margin: 0;
    color: red;
}

.input-line > div.single-line-input {
    width: 92%;
    margin: 0;
}


input[type=text],
select 
{
    border: none;
    border-radius: 0.375rem;
    padding: 0.375rem 0.75rem;
    outline-style: solid;
    outline-width: 2px;
}


.character-specie-selection-container {
    text-align: center;
    padding-top: 7px;
}
.character-specie-selection {
    width: 30%;
    border: 1px solid;
    text-align: center;
    display: inline-block;
    border-radius: 8px;
    padding: 12px;
}
.character-specie-selection:has(input[type=radio]:checked){
    outline-width: 2px;
    outline-style: solid;
}
.character-specie-selection input[type=radio] {
    display: block;
    margin: 0 auto;
}
.character-specie-selection img {
    width: 60%;
}


.character-selection-illu-container {
    border-style: solid;
    border-width: 1px;
    border-radius: 8px;
}
.character-selection-illu-container img {
    width: 80px;
}

.block-character .button-container {
    margin-top: 5px;
}
.block-character .button-container > * {
    margin: 5px;
}